<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: '/'" aria-label="breadcrumb" class="small mb-4">
    <ol class="breadcrumb">
        <a href="#" class="text-reset me-3" onclick="return history.go(-1)">
            <i class="bi bi-arrow-left"></i>
        </a>
        <li class="breadcrumb-item">
            <a href="/dashboard" class="text-reset">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/dashboard/posts" class="text-reset">Posts</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Post detail</li>
    </ol>
</nav>
<main class="bg-white p-3 rounded-4 shadow-sm small">
    <!-- Page content-->
    <div class="row justify-content-between align-items-center border-bottom pb-3">
        <div class="col">
            <h1 class="fw-bold fs-6 my-1">Post Detail</h1>
        </div>
        <div class="col text-end">
            <a href="/blog/<%= post.slug %>" class="text-reset">Preview <i class="bi bi-box-arrow-up-right"></i> </a>
        </div>
    </div>
    <div class="row px-0 px-lg-3 mt-3 mb-2">
        <div class="col">
            <div class="row py-3">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Title</div>
                <div class="col-md-9"><%= post.title %></div>
            </div>
            <div class="row py-3">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Image</div>
                <div class="col-m2d-8 col-lg-6">
                    <% if (post.image) { %>
                    <img src="/uploads/<%= post.image %>" alt="" id="imgPreview" class="rounded border w-100" style="max-height: 200px; object-fit: cover" />
                    <% } else { %> - <% } %>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Category</div>
                <div class="col-md-9"><%= post.category ? capitalize(post.category) : '-' %></div>
            </div>
            <div class="row py-3">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Keywords</div>
                <div class="col-md-9"><%= post.keywords.length ? post.keywords : '-' %></div>
            </div>
            <div class="row py-3">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Excerpt</div>
                <div class="col-md-9"><%= post.excerpt %></div>
            </div>
            <div class="row py-3">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Created at</div>
                <div class="col-md-9"><%= `${post.createdAt.toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})} ${post.createdAt.toLocaleTimeString('id-ID').replaceAll('.', ':')}` %></div>
            </div>
            <div class="row py-3">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Updated at</div>
                <div class="col-md-9"><%= `${post.updatedAt.toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})} ${post.updatedAt.toLocaleTimeString('id-ID').replaceAll('.', ':')}` %></div>
            </div>
            <div class="row py-3">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Body</div>
                <div class="col-md-9"><%- post.body %></div>
            </div>
            <div class="row py-4">
                <div class="col-md-3 fw-semibold mb-2 mb-md-0">Options</div>
                <div class="col-md-9">
                    <a href="/dashboard/posts/<%= post._id %>/edit" class="btn btn-dark"> Edit </a>
                    <form action="/dashboard/posts/<%= post._id %>?_method=DELETE" method="post" class="d-inline ms-2">
                        <input type="hidden" name="old-image" value="<%= post.image %>" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are your sure?')">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
